.project
*.swp
*.tmp
.DS_store

# Cordova
platforms/
plugins/

# npm
node_modules/
bower_components/
npm-debug.log

# gulp build artifacts
tmp/js/*
tmp/min/*
lib.js
app.js
src/compiled/*

# tangerine's packs
pack*.json

.idea


