.project
*.swp
*.tmp
.DS_store

# Cordova
platforms/
plugins/

# npm
node_modules/
bower_components/
npm-debug.log

# gulp build artifacts
app/tmp/js/*
app/tmp/min/*
app/src/js/lib.js
app/src/js/app.js
app/src/compiled

# tangerine's packs
app/src/js/init/pack*.json
app/test/packs.json
app/src/packs.json


app/.idea

