<p>Select Form</p>
<div class="form-group">
  <select id="formDropdown" class="form-control">
      <option value=""> -- Select One -- </option>
      <option value="TrichiasisSurgery">trichiasisSurgery</option>
      <option value="PostOperativeEpilation">PostOperativeEpilationAbbrev</option>
  </select>
</div>
<table id="records">
    <thead><tr>
        <th>Question</th>
        <th>dateModified</th>
    </tr></thead>
    <tbody></tbody>
</table>
