{
  "env" : {
    "default" : {
      "db" : "http://YOUR_ADMIN_USERNAME_HERE:YOUR_PASSWORD_HERE@localhost:5984/tangerine"
    },
    "server" : {
      "db" : "http://YOUR_ADMIN_USERNAME_HERE:YOUR_PASSWORD_HERE@YOUR_SERVER:5984/tangerine"
    }
  }
}
